{% extends "base.html" %}
{% block content %}
    <div class="container container_main">
        <div class="col-md-5 left_container">
            <div class="center_cont_left">
                <h1 class="title"> Forgot the password? </h1>
                <p class="subtitle"> No worries!</p>
            </div>
        </div>
        <div class="col-md-7 right_containter">
            <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
            <p>You should be receiving it shortly.</p>
        </div>
    </div>
{% endblock %}