{% extends "base.html" %}




{% block title %}Password reset complete{% endblock %}

{% block content %}
        <div class="container container_main">
        <div class="col-md-5 left_container">
            <div class="center_cont_left">
                <h1 class="title"> Forgot the password? </h1>
                <p class="subtitle"> No worries!</p>
            </div>
        </div>
        <div class="col-md-7 right_containter">
            <p>Your password has been set.  You may go ahead and log in now.</p>
            <p><a href="{{ login_url }}">Log in</a></p>
        </div>
    </div>

{% endblock %}