{% extends 'base.html' %}

{% block content %}
    <div class="container container_main">
        <div class="col-md-5 left_container">
            <div class="center_cont_left">
                <h1 class="title"> Edit museum </h1>
                <p class="subtitle">Make changes </p>
            </div>
        </div>
        <div class="col-md-7 right_containter">
            <button onclick="javascript:history.back()" type="submit" class="btn_icon btn_red btn_red_white button_top_right">  <i class="fa fa-arrow-left" aria-hidden="true"></i>  </button>
            <form class="form_add" method="POST">
                {% load bootstrap_tags %}
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button type="submit" class="btn_icon btn_red btn_red_white"> <i class="fa fa-pencil" aria-hidden="true"></i> </button>
            </form>
        </div>
    </div>

{% endblock %}