{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    <div class="container_main header_museum" style="background-image: url('{% static "images/dust.png"%}')">
        <div class="col-md-7 ">
            <h2 class="title head_museum"> {{ museum.title }} </h2>
            <h4 class="subtitle contrast head_museum"> {{ museum.description }} </h4>
        </div>
        <div id="margin_for_responsive" class="col-md-5 ">
            <span class="text contrast"> {{ museum.city }} | </span>
            <span class="text contrast"> {{ museum.country }} |</span>
            <span class="text contrast"> {{ museum.created_date }} </span>
            <br>
            <div class="container_center_icons">
            {% if user.id == museum.author_id or user.is_superuser%}
                <a class="contrast" href="{% url 'edit_museum' museum.id %}"> <button type="submit" class="btn_icon btn_red btn_red_white"><i class="fa fa-pencil" aria-hidden="true"></i></button></a>
                <a class="contrast" href="{% url 'my_museums' %}"> <button type="submit" class="btn_icon btn_red btn_red_white"> <i class="fa fa-arrow-left" aria-hidden="true"></i></button></a>
                <a class="confirm-delete contrast" href="{% url 'remove_museum' museum.id %}"><button type="submit" class="btn_icon btn_red btn_red_white"> <i class="fa fa-trash" aria-hidden="true"></i> </button></a>
            {% endif %}
            </div>
        </div>
    </div>
    <div id="heading_gallery">
        <h1 class="subtitle heading_centered animation-box wow bounceIn animated " > Art pieces </h1>
        <hr>
        {% if user.id == museum.author_id or user.is_superuser %}
         <a href="{% url 'add_piece_to_museum' museum.id %}"><button type="submit" class="btn_icon btn_red button_top_right btn_red_white"> <i class="fa fa-plus" aria-hidden="true"></i></button> </a>
        {% endif %}
    </div>
    <div id="wrapper_for_responsive" class="project-wrapper">
        {% for piece in pieces %}
            <div id="team">
                <div class="col-md-4 clear wow animated fadeInLeft ">
                    <div class="piece_in_museum">
                         <img src="{{ MEDIA_URL }}{{ piece.image }}" alt="">
                    </div>
                    <div id="hover_museum_detail" class="img-hover">
                        <p class=" title museum wow animated fadeInLeft">{{ piece.title }} </p>
                        <p class=" subtitle clear wow animated fadeInLeft">{{ piece.date }} </p>
                        <p class=" subtitle clear wow animated fadeInLeft">{{ piece.description }} </p>
                        <a href="{% url 'pieces_details' piece.id %}"> See piece </a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>




{% endblock %}