{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block content %}
 <div class="container container_main">

    <div id="heading_gallery">
        <h1 class="title heading_centered" > Discover </h1>
    </div>
    <div class="col-md-12 clear">
         <form class="form_user" role="form" method="post" action="{% url 'get_result' %}" >
             <p class="subtitle"> Discover by place </p>
                {% csrf_token %}
             <input type="text" class="form-control" name="searchy" placeholder="Search by place, user or museum...">
             <div class="form-group">
                 <h2> <button type="submit" class="btn_text btn_red btn_red_white"> Search <i class="fa fa-search"></i>  </button></h2>
             </div>
             <hr>
         </form>
    </div>
    <div class="col-md-8 latest clear">
        <p class="subtitle red"> Latest places </p>
        {% for place in latest_places %}
            <div class="col-md-10 latest_museums ">
                 <a href="{% url 'museum_detail' place.id %}"><p class="text clear "><span class=" subtitle ">{{ place.city }}</span> |{{ place.country }} | {{ place.title }}  </p></a>

            </div>
        {% endfor %}
        <a href="{% url 'latest_places' %}"> <button class="btn_icon btn_red  btn_red_white btn_bottom_center"><i class="fa fa-plus" aria-hidden="true"></i> </button></a>
    </div>
     <div class="col-md-4 clear">
        <div class="popular contrast"  style="background-image: url('{% static "images/dust.png"%}')">
            <p class="subtitle contrast"> Most popular </p>
            {% for popular in most_viewed %}
                <div class="col-md-12 viewed">
                    <a href="{% url 'museum_detail' popular.id %}">
                        <span class="subtitle"> {{ popular.title }} | </span>
                        <span class="text"> {{ popular.country }} | {{ popular.city }}</span>
                    </a>
                </div>
            {% endfor %}
            <a href="{% url 'most_viewed' %}"><p><button class="btn_icon btn_red  btn_red_white btn_bottom_center"> <i class="fa fa-plus" aria-hidden="true"></i>  </button></p></a>
        </div>
     </div>
 </div>
{% endblock %}