{% extends 'base.html' %}

{% block content %}

     <div class="container container_main">

    <div id="heading_gallery">
        <h1 class="title heading_centered animation-box wow bounceIn animated" > {{ user.username }} Museums </h1>
    </div>
    <div class="project-wrapper">
        <button onclick="javascript:history.back()" type="submit" class="btn_icon btn_red btn_red_white button_top_right"> <i class="fa fa-arrow-left" aria-hidden="true"></i> </button></a>
        {% for museum in user_museums %}
        <div  id="team">
            <div class="col-md-4 clear wow animated fadeInLeft piece_in_museum container_museums">
                <div class="container_info_museum">
                    <p class="title museum"> {{ museum.title }}</p>
                    <hr>
                    <p class="subtitle clear"> {{ museum.city }}</p>
                    <br>
                    <p class="subtitle"> {{ museum.country }}</p>
                </div>
                <div class="img-hover">
                    <p class=" text wow animated fadeInLeft">{{ museum.created_date }} </p>
                    <p class=" text wow animated fadeInLeft">{{ museum.description }} </p>
                    <a href="{% url 'museum_detail' museum.id %}"> <button class="btn_icon btn_red btn_red_white half"> <i class="fa fa-chevron-right" aria-hidden="true"></i></button> </a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
 </div>

{% endblock %}