        /* MOBILE */

@media only screen and (max-width: 767px) {
    .title{
        font-size: 40px!important;
    }

    .text{
        font-size: 14px!important;
    }

    .subtitle{
        font-size: 20px!important;
    }

    .left_container{
        max-height: 200px!important;
    }

    .right_containter{
        max-height: 400px!important;
    }

    .messages p{
        font-size: 12px!important;
    }

    /*logo*/
    #logo_letters{
        padding-left:0px!important;
        font-size: 20px!important;
    }
    /*nav*/

    #header{
        width: 100%;
    }

    #trigger-overlay{
        margin-top: 15px;
        margin-left:60px;
    }

    .overlay {
        width: 60% !important;
        left: 40% !important;
    }

    .overlay ul li{
        height: calc(100% / 6)!important;
    }

    .overlay ul li a{
        font-size: 20px!important;
    }
    .overlay .overlay-close {
        height: 30px!important;
    }



    /*button*/
    .btn_text{
        font-size: 14px!important;
    }

    .btn_icon {
        font-size: 15px!important;
        width: 40px!important;
    }

    /*prof pict*/
    .profile_pic{
        width: 80px!important;
        height: 80px!important;

    }

    /*discover*/
    .latest, .popular{
        height: 500px!important;
    }

    .latest_places{
        height: 150px!important;
    }

    /*museum details*/

    #heading_gallery{
        padding-top:20px;
    }

    #wrapper_for_responsive{
        padding-top: 40px!important;
    }

    #margin_for_responsive{
        padding-left: 55px!important;
    }
    .container_main.header_museum{
        padding-top: 70px!important;
    }

    .form_add label{
        line-height: 0!important;
    }

    /*add piece*/

    .piece_detail_btn_responsive{
        display: inline!important;
    }



}



@media (min-width: 768px) and (max-width: 2000px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
/* GENERAL */

.clear{
    margin: 0;
    padding: 0;
    line-height: 0;
}

.form-group{
    margin: 0;
}

html{
    height: 100%;
    width: 100%;
}
body{
    background-color: #f6f6f6;
    height: 100%;
    width: 100%;

}

.container_main{
    padding-top: 150px;
    z-index: 100000!important;
}


hr{
    margin: 10px 0px;
}

h1 {
    letter-spacing: 3px;
}

h2{
    margin: 5px;
    letter-spacing: 3px;

}

a{
    color: #404040;
}

.title{
    font-family: 'Open Sans', sans-serif;
    color: #FB5353;
    font-size: 60px;
    font-weight:800;
    line-height: 53px;
    text-transform: lowercase;
}

.subtitle{
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    font-size: 25px;
    font-weight:800;
    line-height: 25px;
    text-transform: lowercase;

}

.text{
    font-size: 20px;
    line-height: 30px;
    color: #454545;
    margin: 7px;
}

.redsmall{
    color: #FB5353;
    font-size: 14px;
    margin-left: 10px;
}

.contrast{
    color: white;
}

    /*buttons*/
                        /*buttons icons*/
.btn_icon{
    padding: 10px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    margin: 20px;
    width: 60px;
}

.btn_red{
    background-color: #FB5353;
    color: white;
}

.btn_red_white:hover{
    background-color:white;
    color: #FB5353;
    transition: 0.1s;
}

.btn_white{
    background-color: white;
}

                                            /*buttons icons*/

                                             /*buttons text*/

.btn_text{
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    margin: 20px;
    font-weight: 600;
}

                                             /*buttons text*/


.container_center_icons{
    text-align: center;

}

.button_top_right{
    position: absolute;
    top: 7px;
    right: 10px;
}

.btn_bottom_center{
    position: absolute;
    bottom:20px;
    right: 50px;
    display: block;
    margin: 0 auto;
}


        /*buttons*/

.white{
    color:white;
}

.red{
    color:#FB5353;
}

/*messages*/

.messages_container{
    width: 40%;
    background-color: rgba(64,64,64,0.7);
    color: white;
    margin: 10px 100px;
    font-size: 15px;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}
/*messages*/
.messages p{
    font-size: 20px;
}

/* GENERAL */


/* home*/
.home{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
    position: relative;
}

.home p{
    position: absolute;
    bottom: 250px;
    right: 0px;
    color: white !important;
    text-align: right;
    background-color: rgba(64,64,64,0.7);
    padding: 20px 50px;
    border-radius: 3px;

}

#container_buttons_home{
    position: absolute;
    bottom: 150px;
    right: 50px;
        z-index:9000000!important;

}

/*home*/



/* navbar */

                /*navbar has id header*/
.header{
    background: transparent;
    position: fixed;
}

#header{
    background: transparent;
    position: fixed;

}


.fixed{
    background: transparent;
}

/* nav despegable*/
.overlay{
    background: #404040;
    width: 40%;
    left: 60%;
}

.overlay nav{
    font-size: 30px;
}
    /* exit button*/
.overlay .overlay-close{
    height: 35px;
}
/* nav despegable*/

.navbar-fixed-top{
    background:transparent;

}

#trigger-overlay{
    background-color: rgba(64,64,64,0.7);
    padding: 10px;
    border-radius: 3px;
}
/*logoooooo*/
#logo_letters span{
    color: white;
    background-color: rgba(64,64,64,0.7);
    padding: 10px;
    border-radius: 3px;
}

#logo_letters{
    padding-left: 100px;
    font-size: 30px;
}
/*logoooooo*/


#fondo_collapse_in{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #404040;
    z-index: 1000;
    opacity: 0.7;
    display: none;
}

.show{
    display: block!important;
}

/* navbar */

/*order elements*/




/* STYLE FOR: Profile, Donations, Payments, Add/edit museums/pieces*/


.right_containter{
    background-color: white;
    height: 500px;
    position: relative;

        /*flebox*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /*flexbox*/
}

.right_containter .text{
    width: 100%;
    text-align: left;
    padding-left: 180px;
}

.left_container{
    height: 500px;

    /*flebox*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /*flexbox*/
}

.center_cont_left{
    text-align: right;
    padding-right: 20px;
    width: 100%;
}

        /*PROFILE*/

.profile_pic{
    border-radius: 50%;
    -webkit-box-shadow: 0px 17px 47px -11px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 17px 47px -11px rgba(0,0,0,0.52);
    box-shadow: 0px 17px 47px -11px rgba(0,0,0,0.52);
    margin-bottom: 30px;
}

        /*LOG IN*/

.form_user{
    background-color: white;
    padding: 30px 100px;
    text-align: center;
}

.container_main_center{
       /*flebox*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /*flexbox*/
}


/* STYLE FOR: Profile, Donations, Payments, Add/edit museums/pieces*/


/* STYLE FOR: Museum detail */

.header_museum{
    background-color: #404040;
    height: 300px;
}


.container_pieces_gallery{
    padding: 0;
    overflow: hidden;
}


#img_piece{
    margin: 0;
    height: 300px!important;
    width: 100%!important;
}
/*subtitle*/

#heading_gallery{
    position: relative;
    height: 100px;
    width: 100%;
    text-align: center;

}

.heading_centered{
    text-align: center;
    margin-top: 40px;
}

#add_piece_to_gallery{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

/*subtitle*/


.work-item{
    width: 100%;
}

/* STYLE FOR: My museum */

.head_museum{
    margin-left: 50px;
}
        /*styling bootstrap template col*/

.img-hover{
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.img-hover p{
    color: white;
}

.container_museums{
    background-color: white;
    height: 200px;
}

.container_info_museum{
    text-align: center;
    border: 3px solid #404040 ;
    margin: 10px ;
    height: 90%;
}

.museum{
    transform: scale(0.5,0.5);
}


/* STYLE FOR: My museum */

/* STYLE FOR: Adding content form */

.form_add{
    text-align: center;
}

.form_add label{
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    font-size: 16px;
    font-weight:800;
    line-height: 53px;
}



/* STYLE FOR: Adding content form */

/* STYLE FOR: piece detail */

.right_piece{
    padding:0;
}

.right_piece img{
    width: 100%;
}

.left_piece{
    padding-top: 100px;
    padding-left: 0!important;
    padding-right: 0!important;
}

.left_piece div{
    background-color: white;
}

.icon_no_margin{
    margin-bottom: 0px;
}

/* STYLE FOR: piece detail */

/* STYLE FOR: Discover home */

.latest{
    background-color: white;
    padding: 0;
    height: 600px;
    text-align: center;
    padding: 20px;
}


.popular {
    height: 600px;
    text-align: center;
    padding: 20px;

}

input{
    margin-top:10px;
}

.latest_museums{
    border-bottom: 1px solid #404040;
    height: 60px;
    padding-top: 15px;
    margin-left: 40px;
}

.latest_museums p{
    display: inline;
}


.latest_museums p:hover{
    color: #FB5353;
    transition: 0.1s;
}

.viewed{
    background-color: white;
    height: 55px;
    margin-top: 10px;
    padding-top: 10px;

}

.viewed .text:hover{
    color: #FB5353;
    transition: 0.1s;
}

.viewed span{
    font-size: 20px;
}

/* STYLE FOR: Discover home */

/* STYLE FOR: Discover results */

.results{
    background-color: white;
    padding: 0;
    height: 100%;
    text-align: center;
    padding: 20px;
}


.search_results_container{
    padding-top: 50px;
    height: 100%;
    background-color:white;
}

.half{
    transform: translate(0.5,0.5);
}

.search_results_container .text:hover{
      color: #FB5353;
    transition: 0.1s;

}

/* STYLE FOR: Discover results */


/* STYLE FOR: Discover latest places */

.latest_places{
    border-bottom: 1px solid #404040;
    height: 100px;
    padding-top: 5px;

}

.latest_places p{
    padding-left: 0!important;
}

#description_p:hover{
    color:  #FB5353;
    transition: 0.1s;

}

/* STYLE FOR: Discover latest places */




