{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container container_main container_main_center">
        <div class="col-md-6 center_container">
            {% if next %}
                <form role="form" method="post" action="{% url 'log_in' %}?next={{ next }}">
            {% else %}
               <form role="form" method="post" action="{% url 'log_in' %}">
            {% endif %}
                <legend class="title">Login</legend>
                <p class="subtitle"> Nice to see you again!</p>
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>
                <div class="form-group">
                    <h2 class="container_center_icons"> <button type="submit" class="btn_text btn_red btn_red_white">Login</button></h2>
                </div>
            </form>
        </div>
    </div>
{% endblock %}