{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="container container_main">
        <div class="col-md-5 left_container">
            <div class="center_cont_left">
                <h1 class="title"> Profile </h1>
                <p class="subtitle">Hi {{ user.username }}!</p>
            </div>
        </div>
        <div class="col-md-7 right_containter">
            <img class="profile_pic" src="{{ MEDIA_URL }}images/coffee.jpg" width="150px" height="150px" alt="">
            <p class="text"> <strong> Email: </strong> {{ user.email }} </p>
            <p class="text"> <strong> Password: </strong>  </p>
            <p class="text"> <strong> Number of museums: </strong> </p>
            <p class="text"> <strong> Rating </strong>  </p>
            <h2 class="container_center_icons"> <button type="submit" class="btn_text btn_red btn_red_white"><a class=" white confirm-delete" href="{% url 'remove_account' user.id %}"> Unsuscribe </a></button></h2>
        </div>
    </div>
{% endblock %}