{% extends 'base.html' %}

{% block content %}
    <div class="container container_main">
        <div class="col-md-5 left_container">
            <div class="center_cont_left">
                <h1 class="title"> Profile </h1>
                <p class="subtitle">Hi {{ user.username }}!</p>
            </div>
        </div>
        <div class="col-md-7 right_containter">
            <img class="profile_pic" src=" {{ MEDIA_URL }}images/home.jpg" width="150px" height="150px" alt="">
            <p class="text"> <strong> Email: </strong> {{ user.email }} </p>
            <p class="text"> <strong> Password: </strong>  </p>
            <p class="text"> <strong> Number of museums: </strong> </p>
            <p class="text"> <strong> Rating </strong>  </p>
            <h2> <button type="submit" class="btn btn-info"><a href="#"> Unsuscribe </a></button></h2>
        </div>
    </div>
{% endblock %}