{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td><img height="100" width="100" src="{{ MEDIA_URL }}{{ item.donation.image }}"></td>
                    <td>{{ item.donation.title }}</td>
                    <td>{{ item.donation.description }}</td>
                    <td>{{ item.donation.price }}</td>
                    <td>{{ item.donation }}</td>
                    <td><a href="{% url 'remove_from_cart' item.id %}">Remove</a></td>
                </tr>
            {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ total }}</td>
                    <td></td>
                    <td></td>
                </tr>
        </tbody>
    </table>
    <hr>

    <form role="form" method="post" id="payment-form" action="{% url 'cart_user' %}">
    <div id="credit-card-errors" style="display:none">
      <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <legend>Pay Now!</legend>

    {% csrf_token %}
    {{ form | as_bootstrap }}
    <div class="form-group">
      <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
    </form>
</div>

{% endblock %}