{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Urban museum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- CSS
		================================================== -->
    <link rel="stylesheet" href="{% static  'lucy-master/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static  'lucy-master/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static  'lucy-master/css/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static  'lucy-master/css/owl.theme.css'%}">
    <link rel="stylesheet" href="{% static  'lucy-master/css/nivo-lightbox/nivo-lightbox.css'%}">
    <link rel="stylesheet" href="{% static  'lucy-master/css/nivo-lightbox/nivo-lightbox-theme.css'%}">
    <link rel="stylesheet" href="{% static  'lucy-master/css/animate.css'%}">
    <link rel="stylesheet" href="{% static  'lucy-master/css/style.css'%}">
    <link rel="stylesheet" href="{% static  'css/style.css'%}">


    <script src="{% static  'lucy-master/js/modernizr.custom.js'%}"></script>

    <!-- CSS
		================================================== -->

    {% block head_js %}{% endblock %}
</head>



<body >
<header>

{#    _________#}
<div id="top" style="z-index: 100000000000000">
    <div class="overlay overlay-hugeinc">
        <button type="button" class="overlay-close">Close</button>
        <nav>
        <ul>
            {% if user.is_authenticated %}
            <li class="hideit"><a href="{% url 'get_discover' %}">Discover</a></li>
            <li class="hideit"><a href="{% url 'add_musuem' %}">New museum</a></li>
            <li class="hideit"><a href="{% url 'my_museums' %}">My museums</a></li>
            <li class="hideit"><a href="{% url 'donations' %}"> Support us </a></li>
            <li class="hideit"><a href="{% url 'profile' %}"> Profile </a></li>
            <li class="hideit"><a href="{% url 'log_out' %}">Log out</a></li>
            {% else %}
            <li class="hideit"><a href="{% url 'log_in' %}">Log in</a></li>
            <li class="hideit"><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
        </nav>
    </div>
        <section id="header" class="header">
        <div class="top-bar">
            <div class="container">
                <div class="navigation" id="navigation-scroll">
                        <div class="row">
                            <div class="col-md-11 col-xs-10">
                                <a href="{% url 'home' %}">
                                    <h1 id="logo clear">
                                        <p id="logo_letters" class="text contrast clear"> <span>urban museum</span> </p>
                                    </h1>
                                </a>
                                {% if messages %}
                                    <div class="messages_container">
                                        <div class="messages subtitle contrast">
                                         {% for message in messages %}
                                            <p class="title">{{ message }}</p>
                                        {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-1 col-xs-2">
                                <p class="nav-button clear">
                                    <button id="trigger-overlay" type="button">
                                    <i class="fa fa-bars"></i>
                                    </button>
                                </p>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.navigation -->
                </div><!--/.container-->
            </div><!--/.top-bar-->
        </section>
</div>
{#  ________  #}


</header>

        {% block content %}
        {% endblock %}
    <script src="{% static  'lucy-master/js/jquery-1.11.2.min.js'%}"></script>
    <script src="{% static  'lucy-master/js/wow.min.js'%}"></script>
    <script src="{% static  'lucy-master/js/owl-carousel.js'%}"></script>
    <script src="{% static  'lucy-master/js/nivo-lightbox.min.js'%}"></script>
    <script src="{% static  'lucy-master/js/smoothscroll.js'%}"></script>
    <!--<script src="js/jquery.ajaxchimp.min.js"></script>-->
    <script src="{% static  'lucy-master/js/bootstrap.min.js'%}"></script>
    <script src="{% static  'lucy-master/js/classie.js'%}"></script>
    <script src="{% static  'lucy-master/js/script.js'%}"></script>
    <script>
        new WOW().init();
    </script>
    <script>
        $(document).ready(function(){
            $(".hideit").click(function(){
                $(".overlay").hide();
            });
            $("#trigger-overlay").click(function(){
                $(".overlay").show();
            });
        });
    </script>
    <script>
        $(document).ready(function(){

          var kawa = $('.top-bar');
          var back = $('#back-to-top');
          function scroll() {
             if ($(window).scrollTop() > 700) {
                kawa.addClass('fixed');
                back.addClass('show-top');

             } else {
                kawa.removeClass('fixed');
                back.removeClass('show-top');
             }
          }

          document.onscroll = scroll;
        });
    </script>
    <!--HHHHHHHHHHHH        Smooth Scrooling     HHHHHHHHHHHHHHHH-->
    <script>
        $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top
                }, 1000);
                return false;
              }
            }
          });
        });
    </script>
		<!-- Urban museum Javascript -->
        <script src="{%  static 'js/urban_js.js' %}"></script>

</body>
</html>
