{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
 
{% block content %}

    <div class="container container_main">
        <div class="col-md-5 left_container">
            <div class="center_cont_left">
                <h1 class="title"> Support us </h1>
                <p class="subtitle">{{ user.username }}, we need you </p>
            </div>
        </div>
        <div class="col-md-7 right_containter" style="text-align: center">
            <form role="form" method="post" id="payment-form" action="{% url 'support_us' donations.id %}">
                <div id="credit-card-errors" style="display:none">
                  <div class="alert-message block-message error" id="stripe-error-message"></div>
                </div>

                <div>
                    <p> <span class="subtitle"> Thanks for the {{ donations.title }}</span></p>
                </div>

                <hr>

                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-group">
                  <input class="btn btn-info" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                </div>
                </form>
        </div>
    </div>

{% endblock %}
